    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
        font-family: 'Montserrat', sans-serif;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin: 10px 0 5px 0;
        padding: 25px 0 30px 20px;
    }

    .ixr {
        background-color: rgb(255, 0, 0);
        color: white;
        width: 900px;
    }

    .i11 {
        background-color: #AFEEEE;
        width: 750px;
    }

    .a10 {
        background-color: rgb(253, 239, 217);
        width: 550px;
    }

    .a50 {
        background-color: aqua;
        width: 350px;
    }

    .a20 {
        background-color: black;
        color: white;
        width: 250px;
    }

    span {
        font-weight: 700;
    }